doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='css/styles.css')
  script(src="js/form.js" defer)
  script(src="js/request.js" defer)
  script(src='https://kit.fontawesome.com/15e3edaa10.js' crossorigin='anonymous' defer)
  title Auth App
body
  .nav-drawer
    h2
      span Auth App
  .auth-wrapper
    .auth
        .toggle-sign
            #login(onclick='toggleVisibilty()') Log In
            #register(onclick='toggleVisibilty()') Register
        .form
            form.login-form(action='/login' method="POST")
                label
                    | Email
                    br
                    input#login-email(type='text' name="email")
                label
                    | Password
                    br
                    input#login-pwd(type='password' name="password")
                #login-error
                button(type="submit") Log In
                div
                    a(href='/auth/google' id='google-login') 
                        | Login with 
                        i.fab.fa-google 
                    | |
                    a(id='forgot-pwd')
                        | Forgot Password ?
            .register-form(style='display: none')
                label
                    | Name
                    br
                    input#name(type='text' required)
                label
                    | Email
                    br
                    input#email(type='text' required)
                label
                    | Password
                    br
                    input#pwd(type='password' required)
                label
                    | Confirm Password
                    br
                    input#cnf-pwd(type='password' required)
                #register-error
                button(onclick='register()') Register
